/node_modules
node_modules/
.DS_Store
node_modules/

dist/
.DS_Store
.turbo/
.next/
*.log

# local env files
.env.local
.env.*.local
.env

package-lock.json

# notes
TODO.md
notes.md
save.md
tree.md
docs.md
# Build files
/dist
dist/
/notes.md
/saved.md

# docs 
is-solid-docs.d.ts
core.md
arrays.md
objects.md
strings.md
async.md
unions.md
test-notes.md
hold.md
skeleton/
cb-docs/
personal-docs/
/setup.md
setup.md
future/
# # .npmignore
# src/
# transformer/
# __tests__/
# playground/
# jest.config.cjs
# tools/
# models/

//
test.JSON
tsup-test.ts
to-do-today.md


# internal docs
cli-build-docs.d.ts
shared-items-docs.d.ts
match-service-docs.d.ts
types-docs.d.ts
docs-reference
simulacrum-generators-docs.d.ts
temp-api-docs.json